<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .center-image {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
    <h1 class="text-center bg-info m-1">OurCricWeb</h1>
    <div class="center-image">
        <img src="~/Images/WC.png" height="200" width="400" class="m-3" />
    </div>
    
</body>
</html>
