@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("PartialView")
<main>
    <p>The <b>2023 ICC Men's Cricket World Cup</b> will be the 13th edition of the Cricket World Cup, a quadrennial One Day International (ODI) cricket tournament contested by men's national teams and organized by the International Cricket Council (ICC). It is scheduled to be hosted in India from 5 October to 19 November 2023. It was originally scheduled to take place from February to March 2023, but was postponed due to the COVID-19 pandemic.</p>
    <h2>Hosting</h2>
    <p>India is the Host of 2023 cricket world Cup. As per sources, India was awarded with the rights of hosting of world cup in late 2019. There was also a meeting held in ICC headquarters,dubai among the officials in host selection.</p>
</main>